.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: min-content;
  border: 2px solid gray;
  background-color: rgba(0, 0, 0, 0.4);
  .title {
    font-size: 1.5rem;
    text-align: center;
    color: white;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    //border: 1px solid whitesmoke;
    label {
      font-size: 1.2rem;
    }
    input {
      padding: 0.25rem 1rem;
      font-size: large;
      border-radius: 0.5rem;
    }
  }
  .buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    button {
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      color: antiquewhite;
      border: 2px solid white;
      font-size: large;
      &[type="submit"] {
        background-color: rgb(9, 73, 9);
        &[disabled] {
          filter: grayscale(0.8);
          -webkit-filter: grayscale(0.8);
        }
      }
      &[type="reset"] {
        background-color: rgb(92, 1, 1);
      }
    }
  }
  .errormessage {
    border: 2px solid red;
    background-color: pink;
    color: red;
    padding: 0.5rem 1rem;
    text-align: center;
  }
}
